@import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* 공통 S */
* {
  font-family: "Jua", serif;
  box-sizing: border-box; /*패딩같은걸 넣으면 넓이높이가 달라져서 그냥 딱 정하는게 더 괜춘*/
  color: #000;
  outline: none; /* 포커스 시 외관선 제거 */
}

html {
  font-size: 13px; /* 1rem = 13px */
  /* background: #f8f8f8; */
  /* background: url("../img/turkey.jpg"); */
  /* position: fixed; */
  /* width: 100vw; */
  /* height: 100vh; */
  height: 100%;
  background-size: cover;
  /* padding: 40px 0px; */
}

body {
  margin: 0;
  height: 100%;
  overflow-y: auto; /* 스크롤 허용 */
}

body::before {
  content: ""; /* 가상 요소 사용 */
  /* position: absolute; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/turkey.jpg") no-repeat center/cover;
  /* background-size: cover; */
  filter: opacity(0.7); /* 배경 투명도 적용 */
  z-index: -1; /* 콘텐츠 뒤로 이동 */
}

main {
  max-width: 650px;
  min-width: 450px;
  margin: 60px auto; /* 중앙정렬 */
  background: #fff;
  border-radius: 25px;
  padding: 35px;
  box-shadow: 2px 2px 10px #333;
}

a {
  text-decoration: none; /* 기본 밑줄을 제거 */
}

img {
  border: 0; /* 이미지 기본 테두리 제거 */
}

ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.dn {
  display: none !important; /* 우선순위를 높였음 */
}

input[type="text"],
input[type="date"],
select {
  border: 1px solid #ccc;
  height: 45px;
  border-radius: 3px;
  padding: 0 10px;
  font-size: 1.5rem;
  width: 100%; /* 컨테이너에 맞춤 */
}

select {
  padding: 0;
}

textarea {
  border: 1px solid #ccc;
  height: 200px;
  width: 100%;
  resize: none; /* 사용자가 입력영역의 크기를 조정할 수 없도록 설정 */
  padding: 10px;
  border-radius: 3px;
  font-size: 17px;
}

h1 {
  border-bottom: 3px solid #000; /* 텍스트 아래에 검은색 선 */
  padding-bottom: 7px;
  margin: 0 0 30px; /* 아래 여백 */
}

/* 공통 E */

/* 할일 등록 양식 S */
#frmTodo dl + dl {
  /* dl이 연달아 있을 때 위아래 간격 관련*/
  margin-top: 10px;
}

#frmTodo dt {
  margin-bottom: 5px;
  font-size: 1.15rem; /*제목 텍스트 크기*/
}

.error {
  /* 에러 메시지 관련 */
  color: #5f61ee;
  padding: 5px 10px;
  margin: 5px 0;
  box-shadow: 2px 2px 5px #8789f7;
  border-radius: 2px;
}

/* 속성은 대괄호 형태로도 범위를 좁힐 수 있음 */
#frmTodo button[type="submit"] {
  background: #8789f7;
  color: #fff;
  display: block;
  width: 100%;
  height: 45px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 0;
  border-radius: 3px;
}

#frmTodo button[type="submit"]:hover {
  background: #8789f7ae;
}

/* 2:1 비율 */
.search-box {
  display: flex;
  margin: 25px 0 15px 0;
}

.search-box input[type="text"] {
  width: 0;
  flex-grow: 2;
}

.search-box select {
  width: 0;
  flex-grow: 1;
  margin-left: 5px;
}

/* 할일 등록 양식 E */

/* 할일 목록 S */
.items > .item {
  padding: 15px 25px;
}

.items > .item + .item {
  border-top: 2px dashed #ccc; /*---형태로 경계선생김*/
}

.items > .item .tit-wrap {
  font-size: 1.25rem;
}
.items > .item .description {
  display: none;
  transition: all 0.5s; /* 애니메이션 효과 */
}

.items > .item.on .description {
  display: flex;
} /* 처음엔 안보이는데 클릭하면 보이게 할 거 / .on 클래스가 추가되면 설명 보이도록 설정 */

.items .description {
  flex-direction: column;
  min-height: 180px;
}

.items .description .content {
  padding: 15px;
  background: #f8f8f8;
  border-radius: 5px;
  margin-top: 15px;
  flex-grow: 1; /* 남아있는 여백을 전부 차지함 */
}

.items .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.items .controls .remove {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #000;
  background: #fff;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
}

.items .controls .remove i {
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 1;
  padding: 0;
}

.items > .item.done .tit-wrap {
  text-decoration: line-through; /* 완료시 취소선 표시 */
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  padding: 0 20px 0 33px;
  height: 40px;
  line-height: 40px;
  background: url("../images/radio.png") no-repeat left center;
  display: inline-block;
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background: url("../images/radio_on.png") no-repeat left center;
}

/* 할일 목록 E */
